
@{
    ViewData["Title"] = "AddNumbers";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device=width" />
    <title>
       Addition 
    </title>
</head>
<body>
    <h2>Addition of two numbers</h2>
    <h3>@ViewBag.result</h3>
</body>

</html>

