@model Employees

@{
    Layout = null;
}




<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device=width" />
    <title>
        Emp Info
    </title>
</head>
<body>
    <h2>Employee Data</h2>

        @Model.EmpId<br />
        @Model.EmpName<br />
        @Model.Salary<br />

</body>

</html>


