@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <img src="/images/event-management.jpg" width="300" height="300" />
    <p><span style="font-style:italic; color:blue;" >Online Seminar Registration Form allows you to collect 
        
        registrations for online/virtual seminars. You can add your seminars with descriptions and use one of our 30+
        payment gateway integrations in your form! All of the form submissions are securely stored and accessible by you
        on any device.</span>
        <a asp-controller="Assignment" asp-action="RegistrationForm">
        <h2><b>Registration</b> </h2>
    </a>
</div>